/* =============================================================================
   HTML5 Boilerplate CSS: h5bp.com/css
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }



/* ===== Primary Styles ========================================================
   Author: Jonathan Fielding
   ========================================================================== */

body{
	background: #554444;
	font-size: 65%;
}

.wrapper{
	width: 980px;
	margin: 0px auto;
}

a, a:hover, a:visited{
	color: #fef6ef;
}

.tab_box a, .tab_box a:hover, .tab_box a:visited{
	color: #333;
}

p, li, td, th{
	font-size: 1.2em;
}

p, li{
	color: #ddaa88;
}

li li{
	font-size: 1em;
}

header{
	position: relative;
	padding: 40px 0 10px;
}

header h1{
	color: #ffeedd;
	margin: 10;
	font-size: 5em;
	margin: 0px;
	white-space: pre;
}

header h1 span{
	font-size: 0.3em;
}

h2{
	color: #fef6ef; 
}

header p.subtitle{
	margin-top: 0px;
}

header menu{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	margin: 0px;
	padding: 0px;
	background: #4c4c4c; /* Old browsers */
	background: -moz-linear-gradient(top, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c4c4c), color-stop(12%,#595959), color-stop(25%,#666666), color-stop(39%,#474747), color-stop(50%,#2c2c2c), color-stop(51%,#000000), color-stop(60%,#111111), color-stop(76%,#2b2b2b), color-stop(91%,#1c1c1c), color-stop(100%,#131313)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* IE10+ */
	background: linear-gradient(top, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
}

header menu li{
	line-height: 30px;
	list-style: none;
	margin: 0px;
	padding: 0 20px;
	float: left;
}

header menu li a{
	color: #fff;
}



.tab_box menu{
	padding: 0px;
	margin: 0px;
	float: left;
	width: 298px;
	min-height: 300px;
	background: #fff;
	border: 1px solid #ccc;
}

.tab_box menu li{
	list-style: none;
	background: #fff;
	border-bottom: 1px solid #ccc;
}

.tab_box menu li a{
	text-decoration: none;
	display: block;
	padding: 4px 8px;
	border-left: 1px solid #ccc;
}

.tab_box menu li a.active{
	background: #544;
	color: #fff;
}

.tab_box menu li a.active:after{
	content: '>';
	float: right;
}

.tab_box div{
	background: #fff;
	border: 1px solid #ccc;
	width: 678px;
	float: left;
	min-height: 300px;
}

.tab_box div p{
	color: #554444;
}

.tab_box div p,.tab_box h3,.tab_box h4{
	margin: 0px;
	padding: 5px;
}

.tab_box h3{	
	padding: 5px;
}

ul.file_list{
	-moz-box-shadow: 0 0 5px #dddddd;
	-webkit-box-shadow: 0 0 5px #dddddd;
	box-shadow: 0 0 5px #dddddd;
	border: 1px solid #bbb;
}

ul.file_list,ul.file_list ul{
	padding: 0px;
	background: #fff;
	margin: 0px;
}

ul.file_list li{
	margin-left: 0px;
	list-style: none;
	color: #000
}

ul.file_list li span.js{
	background: url('../assets/img/icons/js') no-repeat 5px center;
}

ul.file_list li span.folder{
	display: block;
	background: url('../assets/img/icons/folder.gif') no-repeat 5px center;
}

ul.file_list li span.html{
	display: block;
	background: url('../assets/img/icons/html.gif') no-repeat 5px center;
}

ul.file_list li span{
	padding: 5px 40px;
	display: block;
	border-bottom: 1px solid #999;
}

ul.file_list li li span{
	padding-left: 70px;
	background-position-x: 35px!important;
}

ul.file_list li li li span{
	padding-left: 100px;
	background-position-x: 65px!important;
}

ul.file_list li li li li span{
	padding-left: 130px;
	background-position-x: 95px!important;
}

table{
	background:#fff;
	-moz-box-shadow: 0 0 5px #dddddd;
	-webkit-box-shadow: 0 0 5px #dddddd;
	box-shadow: 0 0 5px #dddddd;
	border-color: #bbb;
}

table td,table th{
	text-align:center;
	padding:3px;
	border-color: #bbb;
}

table td.row_title{
	text-align:left;
}

footer{
	padding: 20px 0;
}





/* =============================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {
	/* Style adjustments for viewports that meet the condition */
}

/* =============================================================================
   Non-Semantic Helper Classes
   ========================================================================== */

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

/* =============================================================================
   Print Styles
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
