<!DOCTYPE html> 
<html> 
	<head> 
		<title>App Name</title> 
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		<link rel="stylesheet" href="../../../assets/css/jquery.mobile-1.1.0-rc.1.min.css" />
		<link rel="stylesheet" href="../../../assets/css/AppBoilerplate.css" />
	</head> 
<body> 
	<div data-role="page" data-module="sample">
	
		<div data-role="header" data-position="fixed" data-fullscreen="true">
			<h1>AppBoilerplate</h1>
		</div><!-- /header -->
	
		<div data-role="content">
			<ul id="list_todo" data-role="listview">
			    <li>
			        <a href="#dialog_item">
			            <h2>List item 1</h2>
			            <p>Lorem ipsum</p>
			        </a>
			    </li>
			    <li>
			        <a href="#dialog_item">
			            <h2>List item 2</h2>
			            <p>Lorem ipsum</p>
			        </a>
			    </li>
			    <li>
			        <a href="#dialog_item">
			            <h2>List item 2</h2>
			            <p>Lorem ipsum</p>
			        </a>
			    </li>
			    <li>
			        <a href="#dialog_item">
			            <h2>List item 2</h2>
			            <p>Lorem ipsum</p>
			        </a>
			    </li>
			    <li>
			        <a href="#dialog_item">
			            <h2>List item 2</h2>
			            <p>Lorem ipsum</p>
			        </a>
			    </li>
			</ul>
			<a href="#" data-role="button" data-theme="a">theme A</a>
			<a href="#" data-role="button" data-theme="b">theme B</a>
			<a href="#" data-role="button" data-theme="c">theme C</a>
			<a href="#" data-role="button" data-theme="d">theme D</a>		
		</div><!-- /content -->
	
		<div data-role="footer" data-position="fixed" data-fullscreen="true">
			<div data-role="navbar">
				<ul>
					<li><a href="index.html" data-icon="search" class="ui-btn-active ui-state-persist">Search</a></li>
					<li><a href="index.html" data-icon="search" class="ui-btn-active ui-state-persist">Search</a></li>
					<li><a href="index.html" data-icon="search" class="ui-btn-active ui-state-persist">Search</a></li>
					<li><a href="fav.html" id="favorites"  data-icon="custom">Favorites</a></li>
				</ul>
			</div><!-- /navbar -->
		</div>
	
	</div><!-- /page -->
	
	<script src="../../../assets/js/libs/jquery-1.7.1.min.js"></script>
	<script src="../../../assets/js/libs/jquery.mobile-1.1.0-rc.1.js"></script>
	<script src="../../../assets/js/libs/require.js"></script>
	<script src="../../../assets/js/AppBoilerplate.js"></script>
</body>
</html>